
# custom Ansible config overrides for this project

[default]
# SSH timeout
timeout = 30


[inventory]
# enable_plugins = openstack, host_list, script, yaml, ini
cache=true
cache_plugin=jsonfile
cache_connection=/tmp/ansible_cache
# fact_caching_timeout = 0
# fact_caching_timeout = 86400

# using custom ssh configuration for private network host control via SSH proxy on OpenStack
# documentation reference: https://blog.scottlowe.org/2015/12/24/running-ansible-through-ssh-bastion-host/

[ssh_connection]
# ssh_args = -F inventories/openstack/ssh.cfg -o ControlMaster=auto -o ControlPersist=15m
# control_path = ~/.ssh/ansible-%%r@%%h:%%p

[persistent_connection]

# Configures the persistent connection timeout value in seconds.  This value is
# how long the persistent connection will remain idle before it is destroyed.  
# If the connection doesn't receive a request before the timeout value 
# expires, the connection is shutdown. The default value is 30 seconds.
#connect_timeout = 30

# Configures the persistent connection retry timeout.  This value configures the
# the retry timeout that ansible-connection will wait to connect
# to the local domain socket. This value must be larger than the
# ssh timeout (timeout) and less than persistent connection idle timeout (connect_timeout).
# The default value is 15 seconds.
#connect_retry_timeout = 15

# The command timeout value defines the amount of time to wait for a command
# or RPC call before timing out. The value for the command timeout must
# be less than the value of the persistent connection idle timeout (connect_timeout)
# The default value is 10 second.
command_timeout = 20
